@{
    ViewBag.Title = "Services";
    ViewBag.Keywords = "Services, Web Development, Mobile Development, SEO and Digital Marketing. Email, SMS and IVR Solution";
    ViewBag.Description = "Provide solutions for Web, Window, Mobile based development & SEO. Digital Marketing such are SMS, Email & IVR callings";
    ViewBag.Image = "";
}

<!-- Start: Breadcrumb Area
============================= -->
<section id="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Our Services</h1>
                <ul class="breadcrumb-nav list-inline">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Our Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- End: Breadcrumb Area
============================= -->
<!-- Start: Service
============================= -->
<section id="our-service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="section-title">
                    <h2>Our Services <span></span></h2>
                    <p>Provide solutions for Web, Window, Mobile based development & SEO. Digital Marketing such are SMS, Email & IVR callings. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="service-box">
                    <figure>
                        <img src="/assets/img/service/service01.jpg" alt="">
                        <figcaption>
                            <div class="inner-text">
                                <div class="service-icon">
                                    <i class="fas fa-laptop"></i>
                                </div>
                                <h3>Web & Windows<br> Development </h3>
                                <div class="devider"></div>
                                <p>We have a team of experts in web and window based application. We provide solution in different technology for development in multiple platforms.</p>
                                <a href="#" class="boxed-btn">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="service-box">
                    <figure>
                        <img src="/assets/img/service/service02.jpg" alt="">
                        <figcaption>
                            <div class="inner-text">
                                <div class="service-icon">
                                    <i class="fas fa-mobile"></i>
                                </div>
                                <h3>Mobile <br> Development</h3>
                                <div class="devider"></div>
                                <p>If you are looking for Android, IOS & Windows phone development. Then you are at right place, we successfully delivered many mobile based projects.</p>
                                <a href="#" class="boxed-btn">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="service-box">
                    <figure>
                        <img src="/assets/img/service/service03.jpg" alt="">
                        <figcaption>
                            <div class="inner-text">
                                <div class="service-icon">
                                    <i class="fas fa-envelope-square"></i>
                                </div>
                                <h3>Email<br>SMS & IVR Solution</h3>
                                <div class="devider"></div>
                                <p>We tie-up with many vendors and experts, who provides you complete setup of email, Bulk SMS and IVR solutions and APIs with admin panels.</p>
                                <a href="#" class="boxed-btn">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                <div class="service-box">
                    <figure>
                        <img src="/assets/img/service/service04.jpg" alt="">
                        <figcaption>
                            <div class="inner-text">
                                <div class="service-icon">
                                    <i class="fas fa-cloud"></i>
                                </div>
                                <h3>Cloud & <br> Server Solution</h3>
                                <div class="devider"></div>
                                <p>There are many variations of dummy that passages of Lorem Ipsum available but an the majority have suffered that is  dummy alteration in some.</p>
                                <a href="#" class="boxed-btn">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-4">
                <div class="service-box">
                    <figure>
                        <img src="/assets/img/service/service05.jpg" alt="">
                        <figcaption>
                            <div class="inner-text">
                                <div class="service-icon">
                                    <i class="fas fa-bullhorn"></i>
                                </div>
                                <h3>SEO &<br>Digital Marketing</h3>
                                <div class="devider"></div>
                                <p>There are many variations of dummy that passages of Lorem Ipsum available but an the majority have suffered that is  dummy alteration in some.</p>
                                <a href="#" class="boxed-btn">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-box">
                    <figure>
                        <img src="/assets/img/service/service06.jpg" alt="">
                        <figcaption>
                            <div class="inner-text">
                                <div class="service-icon">
                                    <i class="fas fa-database"></i>
                                </div>
                                <h3>Database <br> Support & Consulting</h3>
                                <div class="devider"></div>
                                <p>There are many variations of dummy that passages of Lorem Ipsum available but an the majority have suffered that is  dummy alteration in some.</p>
                                <a href="#" class="boxed-btn">Read More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End: Service
============================= -->
<!-- Start: Fun Fact
============================= -->

<section id="fun-fact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-box light-bg bb">
                <img src="/assets/img/fun-fact/note.png" alt="">
                <h3><span class="counter">1845</span></h3>
                <p>Projects Completed</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-box dark-bg bb">
                <img src="/assets/img/fun-fact/people.png" alt="">
                <h3><span class="counter">146</span></h3>
                <p>Team Members</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12  single-box light-bg">
                <img src="/assets/img/fun-fact/face.png" alt="">
                <h3><span class="counter">1246</span></h3>
                <p>Happy Customers</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12  single-box dark-bg">
                <img src="/assets/img/fun-fact/cup.png" alt="">
                <h3><span class="counter">2416</span></h3>
                <p>Cups Of Coffee</p>
            </div>
        </div>
    </div>
</section>

<!-- End:  Fun Fact
============================= -->
