
@{
    ViewBag.Title = "Index";
}

<!-- Start: Breadcrumb Area
============================= -->
<section id="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Our Services</h1>
                <ul class="breadcrumb-nav list-inline">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Projects</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- End: Breadcrumb Area
============================= -->
<!-- Start: Latest Projects
============================= -->

<section id="latest-projects" class="section-padding project-masonary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="section-title">
                    <h2>Latest Projects <span></span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                </div>
            </div>
        </div>

        <div class="row project-tab">
            <div class="col-md-12">
                <ul class="project-tab-sorting sorting-btn" id="filter">
                    <li><a href="#" data-group="Show All" class="active"><i class="fas fa-align-justify"></i>All Business</a></li>
                    <li><a href="#" data-group="Branding"><i class="fab fa-renren"></i>Corporate</a></li>
                    <li><a href="#" data-group="Web"><i class="fab fa-codepen"></i>Insurance</a></li>
                    <li><a href="#" data-group="Creative"><i class="fab fa-joget"></i>Agency</a></li>
                    <li><a href="#" data-group="More"><i class="fas fa-euro-sign"></i>Finance</a></li>
                </ul>
            </div>
        </div>
        <div class="row project" id="grid">
            <div class="col-lg-3 col-md-6 col-sm-12" data-groups='["Branding", "Web", "Show All"]'>
                <figure>
                    <img src="/assets/img/project/project03.jpg" alt="">
                    <figcaption>
                        <div class="inner-text">
                            <h4>Business Style</h4>
                            <p>Randomised words which don look even slightly believable. If going to use a passage of Lorem</p>
                            <a href="#" class="boxed-btn">View more</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" data-groups='["Branding","Creative", "Show All"]'>
                <figure>
                    <img src="/assets/img/project/project04.jpg" alt="">
                    <figcaption>
                        <div class="inner-text">
                            <h4>Business Style</h4>
                            <p>Randomised words which don look even slightly believable. If going to use a passage of Lorem</p>
                            <a href="#" class="boxed-btn">View more</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-6 col-md-12" data-groups='["Creative", "More", "Show All"]'>
                <figure>
                    <img src="/assets/img/project/project01.jpg" alt="">
                    <figcaption>
                        <div class="inner-text">
                            <h4>Corporate Business</h4>
                            <p>There are many variations of passages of that Lorem Ipsum available but the majority.</p>
                            <a href="#" class="boxed-btn">View more</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-6 col-md-12" data-groups='["Branding", "Creative", "Show All"]'>
                <figure>
                    <img src="/assets/img/project/project02.jpg" alt="">
                    <figcaption>
                        <div class="inner-text">
                            <h4>Business Style</h4>
                            <p>Randomised words which don look even slightly believable. If going to use a passage of Lorem</p>
                            <a href="#" class="boxed-btn">View more</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-9 col-md-12" data-groups='["Branding","Creative", "Show All"]'>
                <figure>
                    <img src="/assets/img/project/project06.jpg" alt="">
                    <figcaption>
                        <div class="inner-text">
                            <h4>Business Style</h4>
                            <p>Randomised words which don look even slightly believable. If going to use a passage of Lorem</p>
                            <a href="#" class="boxed-btn">View more</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" data-groups='["Branding", "Web", "Show All"]'>
                <figure>
                    <img src="/assets/img/project/project05.jpg" alt="">
                    <figcaption>
                        <div class="inner-text">
                            <h4>Business Style</h4>
                            <p>Randomised words which don look even slightly believable. If going to use a passage of Lorem</p>
                            <a href="#" class="boxed-btn">View more</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>

    </div>
</section>

<!-- End: Latest Projects
============================= -->
<!-- Start: Projects Future
============================= -->

<section id="projects-fututre" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="section-title">
                    <h2>Projects Future <span></span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default active">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Great Professional Staff Abroad
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent libero that   luctus quam iaculis the porttitor nulla.Cras quis enim ac nisi por vulputate. Morbi bibendum ac sapien a fm lorem .</div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    We Create Brilliant Buildings
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent libero that   luctus quam iaculis the porttitor nulla.Cras quis enim ac nisi por vulputate. Morbi bibendum ac sapien a fm lorem .</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Premium Support Services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent libero that   luctus quam iaculis the porttitor nulla.Cras quis enim ac nisi por vulputate. Morbi bibendum ac sapien a fm lorem .</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Why Would a Successful Entrepreneur Hire a Coach?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent libero that   luctus quam iaculis the porttitor nulla.Cras quis enim ac nisi por vulputate. Morbi bibendum ac sapien a fm lorem .</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="projects-mockup">
                    <img src="/assets/img/mockup.png" alt="">
                </div>
            </div>
        </div>

    </div>
</section>

<!-- End: Projects Future
============================= -->
